<nav class="sb-topnav navbar navbar-expand navbar-dark bg-light darkGreen d-flex justify-content-between">

  <!-- Sidebar Toggle-->
  <div>
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 darkGreen" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
  </div>

  <div class="col-2 text-center">
    <a href="http://127.0.0.1:8000/"><img id="logo" src="assets/logo/logo_blue.png" alt="Logo/Accueil" class="img-fluid img-responsive" title="Page d'accueil" style="height: 50px"/></a>
  </div>

  <!-- Navbar-->
  <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas darkGreen fa-user fa-fw"></i></a>
      <ul class="dropdown-menu dropdown-menu-end bg-dark yellowFont" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item bg-dark yellowFont" href="http://127.0.0.1:8000/logout">Déconnexion</a></li>
      </ul>
    </li>
  </ul>
</nav>

