@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
.darkBlue {
  color: #18558f !important;
}

.lightBlue {
  color: #eefbfb !important;
}

.orangeFont {
  color: #ffb976 !important;
}

.bg-dark {
  background: #18558f !important;
}

.bg-light {
  background: #eefbfb !important;
}

* {
  font-family: "Roboto", sans-serif;
  background: #eefbfb;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
}

#side-bar {
  width: 200px;
}

#logo {
  max-width: 100%;
  max-height: 50px;
}

header {
  height: 75px;
}