<header class="py-2 bg-light">
  <div class="d-flex justify-content-between" id="headerRow">
    <!------------Logo---------------->
    <div class="col-2 text-center">
      <a routerLink="..."
        ><img
          id="logo"
          src="assets/images/logo_blue.png"
          alt="Logo/Accueil"
          class="img-fluid img-responsive"
          title="La Nîmes'Alerie"
      /></a>
    </div>

    <!--------------------Message Icon---------------------->
    <!-- <div class="col-1 text-center icons">
      <a>Message icon</a>
    </div> -->

    <!--------------------Message Icon---------------------->
    <div class="col-2 text-center icons">
      <button class="btn btn-warning">déconnexion</button>
    </div>
  </div>
</header>
