<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <app-data-card
        *ngFor="let user of datasCard"
        [type]="user.type"
        [data]="user.dataValue"
        [label]="user.label"
        class="col-6"
      ></app-data-card>
    </div>

    <div class="col-lg-8 col-md-12">
      <app-chart-bar-card class="col-lg-6"></app-chart-bar-card>
      <app-pie-chart-card class="col-lg-4"></app-pie-chart-card>

      <app-graphic-card class="col-12"></app-graphic-card>
    </div>

    <!-- Tableau meilleures ventes -->
    <div class="col-12 mt-5">
      <h4 class="text-center" style="color: #18558f">Meilleures ventes</h4>
      <table class="table">
        <thead class="">
          <tr>
            <th scope="col" style="color: #18558f">Produit</th>
            <th scope="col" style="color: #18558f">Description</th>
            <th scope="col" style="color: #18558f">Nombre de Ventes</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let product of products | slice: 0:10 | orderBy: 'desc':'vente'
            "
          >
            <th scope="row" style="color: #18558f">{{ product.name }}</th>
            <td style="color: #18558f">{{ product.description }}</td>
            <td style="color: #18558f">{{ product.vente }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
