<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <app-data-card
        *ngFor="let user of datasCard"
        [type]="user.type"
        [data]="user.dataValue"
        [label]="user.label"
        class="col-6"
      ></app-data-card>
    </div>

    <div class="col-lg-8 col-md-12">
      <app-chart-bar-card class="col-lg-6"></app-chart-bar-card>
      <app-pie-chart-card class="col-lg-4"></app-pie-chart-card>

      <app-graphic-card class="col-12"></app-graphic-card>
    </div>
  </div>
</div>
