@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

$blueDark: #18558f;
$blueLight: #eefbfb;
$orangeCustom: #ffb976;

$headerHeight: 75px;

.darkBlue {
  color: $blueDark !important;
}

.lightBlue {
  color: $blueLight !important;
}

.orangeFont {
  color: $orangeCustom !important;
}

.bg-dark {
  background: $blueDark !important;
}

.bg-light {
  background: $blueLight !important;
}

* {
  font-family: "Roboto", sans-serif;
  // background: $blueLight;
}
a {
  text-decoration: none;
}
li {
  text-decoration: none;
}

h1,
h2 {
  font-family: "Dancing Script", cursive !important;
  font-weight: bold;
  color: $blueDark;
  text-align: center;
  padding: 5px 0px;
  font-size: 2em;
}
h3 {
  color: $blueDark;
  font-weight: bold;
  font-size: 1.8em;
}
