@import "../../app.component.scss";

.dropdown-divider {
  border-color: $orangeCustom;
}

h3 {
  text-align: center;
}

li {
  padding-top: 10px;
}
* {
  background: $blueDark !important;
  color: $orangeCustom !important;
}
@media screen and (min-width: 990px) and (max-width: 1400px) {
  h3 {
    font-size: 1rem !important;
  }
}
// @media screen and (min-width: 768px) and (max-width: 990px) {
//   h3 {
//     font-size: 1rem !important;
//   }
// }

// @media screen and (max-width: 768px) {
//   h3 {
//     font-size: 1.1rem !important;
//   }
// }
