<div class="container-fluid">
  <div class="flex-nowrap">
    <div class="px-sm-2 px-0">
      <div
        class="
          d-flex
          flex-column
          align-items-center align-items-sm-start
          px-2
          pt-2
          text-white
          min-vh-100
        "
      >
        <!-- <div class="bg-dark" style="width: 300px"> -->
        <div class="my-4">
          <h3>Dashboard</h3>
        </div>

        <div class="my-4 w-100">
          <div class="dropdown-divider mb-2"></div>
          <h3>Ventes</h3>
          <ul class="navbar-nav">
            <li class="nav-item navMenu">Commandes</li>
            <li>Catalogue</li>
            <li>Clients</li>
            <li>Service client</li>
          </ul>
        </div>

        <div class="my-4 w-100">
          <div class="dropdown-divider mb-2"></div>
          <h3>Gestion commandes</h3>
          <ul class="navbar-nav">
            <li>Livraisons</li>
            <li>Paiement</li>
            <li>Factures</li>
          </ul>
        </div>

        <div class="my-4 w-100">
          <div class="dropdown-divider mb-2"></div>
          <h3>Configuration</h3>
          <ul class="navbar-nav">
            <li>Paramètres</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

<!-- <div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div
        class="
          d-flex
          flex-column
          align-items-center align-items-sm-start
          px-3
          pt-2
          text-white
          min-vh-100
        "
      >
        <div class="my-4">
          <div class="dropdown-divider mb-2"></div>
          <h3>Dashboard</h3>
        </div>

        <div class="dropdown-divider mb-2"></div>
        <h3>Ventes</h3>
        <ul
          class="
            nav nav-pills
            flex-column
            mb-sm-auto mb-0
            align-items-center align-items-sm-start
          "
          id="menu"
        >
          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i>
              <span class="ms-1 d-none d-sm-inline">Commandes</span>
            </a>
          </li>

          <li>
            <a
              href="#submenu1"
              data-bs-toggle="collapse"
              class="nav-link px-0 align-middle"
            >
              <i class="fs-4 bi-speedometer2"></i>
              <span class="ms-1 d-none d-sm-inline">Catalogue</span>
            </a>
          </li>

          <li>
            <a href="#" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table"></i>
              <span class="ms-1 d-none d-sm-inline">Orders</span></a
            >
          </li>
          <li>
            <a
              href="#submenu2"
              data-bs-toggle="collapse"
              class="nav-link px-0 align-middle"
            >
              <i class="fs-4 bi-bootstrap"></i>
              <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a
            >
          </li>
          <li>
            <a
              href="#submenu3"
              data-bs-toggle="collapse"
              class="nav-link px-0 align-middle"
            >
              <i class="fs-4 bi-grid"></i>
              <span class="ms-1 d-none d-sm-inline">Products</span>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-people"></i>
              <span class="ms-1 d-none d-sm-inline">Customers</span>
            </a>
          </li>
        </ul>

        <hr />
      </div>
    </div>
  </div>
</div> -->
