<div class="container my-4">
  <!-- <div class="bg-light">Ventes: {{ stats.montantTotalVente }}</div> -->
  <div class="row-item">
    <div class="col-12 my-4">
      <canvas
        baseChart
        [datasets]="chartDataConfiguration.data.datasets"
        [options]="chartDataConfiguration.options"
        [labels]="chartDataConfiguration.data.labels"
        [type]="chartDataConfiguration.type"
        [legend]="true"
        class="bg-dark px-3 py-3"
      >
      </canvas>
    </div>
  </div>
</div>
